.containerbanner{
    height: 14rem;
}
.imgBanner{
    height: 15rem;
}
.card-img-top{
    height: 16rem;
}
.card:hover{
    border-color: #333;
    box-shadow: .5rem .5em 1rem #333;   
}
.logoFooter{
    height: 1rem;
    width: 1rem;
}
.itemDetailContainer{
    min-height: 53vh;
}
.form-group{
    min-height: 53vh;
}