.navbarContainer{
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0rem;
}
.navbarist{
    background-image: url(assets/images/backgroundnavbar.jpg);
    background-position: 75% 70%;
}
.viewContainer{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.card-img-top{
    height: 15rem;
}
.card:hover{
    border-color: #333;
    box-shadow: .5rem .5em 1rem #333;   
}
.deliveryContainer h5{
    margin-bottom: 1rem;
}
.logoFooter{
    height: 1rem;
    width: 1rem;
}
.linksFooter a{
    text-decoration: none;
    padding-left: .5rem;
}
.form-group{
    min-height: 53vh;
}
.logoWhatsapp{
    position: fixed;
    line-height: 3rem;
    bottom: 3rem;
    right: 3rem;
}
.logoWhatsapp img{
    width: 4rem;
    height: 4rem;
}