/* .navbarContainer{
    position: fixed;
    width: 100vw;
    z-index: 1;
    padding-top: 0;
} */
.card-img-top{
    height: 16rem;
}
.card:hover{
    border-color: #333;
    box-shadow: .5rem .5em 1rem #333;   
}
.logoFooter{
    height: 1rem;
    width: 1rem;
}
.itemDetailContainer{
    min-height: 53vh;
}
.form-group{
    min-height: 53vh;
}
.logoWhatsapp{
    position: fixed;
    line-height: 3rem;
    bottom: 3rem;
    right: 3rem;
    
}
.logoWhatsapp img{
    width: 4rem;
    height: 4rem;
}